{% extends 'blog/base.html' %}
{% block content %}
<br>
    <h2>Pracownicy ŚDS:</h2>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item">Mariusz Mieczyński - Dyrektor</li>
        <li class="list-group-item">Anna Bajerska - starszy terapeuta/pielęgniarka</li>
        <li class="list-group-item">Agnieszka Chmielecka - starszy terapeuta</li>
        <li class="list-group-item">Zuzanna Szkop - terapeuta</li>
        <li class="list-group-item">Natalia Bajerska - inspektor terapii zajęciowej</li>
        <li class="list-group-item">Krzysztof Zuchniewicz - inspektor terapii zajęciowej</li>
        <li class="list-group-item">Joanna Kaczmarek - pracownik socjalny</li>
        <li class="list-group-item">Justyna Rudnicka - psycholog</li>
        <li class="list-group-item">Marzena Pawlak - opiekun</li>
        <li class="list-group-item">Ewa Marciniak - opiekun</li>
        <li class="list-group-item">Krzysztof Razik - pedagog</li>
        <li class="list-group-item">Marek Sobczyński - kierowca</li>
        <li class="list-group-item">Iwona Piaskowska - inspektor ds. kadr i księgowości</li>
        <li class="list-group-item">Krystyna Wenerska - główny księgowy</li>
        <li class="list-group-item">Andrzej Szymański - konserwator</li>
        <li class="list-group-item">Urszula Łuczyńska - sprzątaczka</li>
    </ol>

{% endblock %}